body  {
    background-image: url(img/css_bg.jpg);
    background-size: cover;
}
h2 {
    color: #0E1600;
    text-align: center;
    border: 2px solid rgba(60, 90, 0, 0.5);
}

p {
    color: #0E1600;
}

li {
    list-style: none;
    display: inline-block;
}